In [1]:
import numpy as numpy
import pandas as pd

In [2]:
df=pd.read_csv("Delo.csv")

In [3]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 29 columns):
Unnamed: 0    5 non-null object
PL1-0         5 non-null float64
PL2-0         5 non-null float64
PL3-0         5 non-null float64
PL4-0         5 non-null float64
PL1-1         5 non-null float64
PL2-1         5 non-null float64
PL3-1         5 non-null float64
PL4-1         5 non-null float64
PL1-2         5 non-null float64
PL2-2         5 non-null float64
PL3-2         5 non-null float64
PL4-2         5 non-null float64
PL1-3         5 non-null float64
PL2-3         5 non-null float64
PL3-3         5 non-null float64
PL4-3         5 non-null float64
PL1-4         5 non-null float64
PL2-4         5 non-null float64
PL3-4         5 non-null float64
PL4-4         5 non-null float64
PL1-5         5 non-null float64
PL2-5         5 non-null float64
PL3-5         5 non-null float64
PL4-5         5 non-null float64
PL1-6         5 non-null float64
PL2-6         5 non-null float64
PL3-6         5 non-null float64
PL4-6         5 non-null float64
dtypes: float64(28), object(1)
memory usage: 1.2+ KB

In [4]:
df.describe()

,PL1-0,PL2-0,PL3-0,PL4-0,PL1-1,PL2-1,PL3-1,PL4-1,PL1-2,PL2-2,...,PL3-4,PL4-4,PL1-5,PL2-5,PL3-5,PL4-5,PL1-6,PL2-6,PL3-6,PL4-6
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,...,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,9.282000,7.022000,9.552000,5.414000,9.170000,7.100000,9.364400,6.420800,9.20200,6.940000,...,9.44100,5.778800,9.228200,6.833600,9.520000,5.526000,9.210800,6.982000,9.492800,5.496000
std,2.047137,1.163838,0.506626,1.022756,2.090036,1.262795,0.943243,2.019122,2.01259,1.275461,...,0.47645,1.057193,1.943663,1.394494,0.489643,1.028411,1.901545,1.294882,0.474003,1.004306
min,5.690000,5.690000,8.680000,4.560000,5.460000,5.570000,7.680000,4.600000,5.74000,5.360000,...,8.65000,4.570000,5.841000,5.148000,8.670000,4.550000,5.874000,5.480000,8.670000,4.590000
25%,9.630000,5.980000,9.630000,4.590000,9.850000,5.980000,9.730000,4.750000,9.44000,5.840000,...,9.36000,4.874000,9.630000,5.590000,9.600000,4.850000,9.680000,5.730000,9.560000,4.860000
50%,9.980000,7.400000,9.680000,4.870000,9.870000,7.580000,9.742000,6.300000,9.60000,7.400000,...,9.61000,5.800000,9.650000,7.450000,9.630000,4.950000,9.680000,7.500000,9.650000,4.880000
75%,10.480000,7.560000,9.780000,6.450000,10.190000,7.870000,9.800000,6.874000,10.55000,7.800000,...,9.78500,6.800000,10.430000,7.580000,9.840000,6.580000,10.330000,7.860000,9.710000,6.350000
max,10.630000,8.480000,9.990000,6.600000,10.480000,8.500000,9.870000,9.580000,10.68000,8.300000,...,9.80000,6.850000,10.590000,8.400000,9.860000,6.700000,10.490000,8.340000,9.874000,6.800000

In [5]:
df.shape

(5, 29)

In [6]:
def pre():
    global PL17  #PRIORITY_LOAD_1 On Day7
    global PL27  #PRIORITY_LOAD_2 On Day7
    global PL37  #PRIORITY_LOAD_3 On Day7
    global PL47  #PRIORITY_LOAD_4 On Day7
    global required_power # Predicted Power on On Day 7 using Simple Linear Regression
    global generated_power #Generated Power On Day 7
    global deficit #Deficit on Day 7
    PL17=(df['PL1-0']+df['PL1-1']+df['PL1-2']+df['PL1-3']+df['PL1-4']+df['PL1-5']+df['PL1-6'])/((df.shape[1]-1)/4)
    PL27=(df['PL2-0']+df['PL2-1']+df['PL2-2']+df['PL2-3']+df['PL2-4']+df['PL2-5']+df['PL2-6'])/((df.shape[1]-1)/4)
    PL37=(df['PL2-0']+df['PL3-1']+df['PL4-2']+df['PL3-3']+df['PL3-4']+df['PL3-5']+df['PL3-6'])/((df.shape[1]-1)/4)
    PL47=(df['PL4-0']+df['PL4-1']+df['PL4-2']+df['PL4-3']+df['PL4-4']+df['PL4-5']+df['PL4-6'])/((df.shape[1]-2)/4)
    required_power=sum(PL17+PL27+PL37+PL47)
pre()

In [7]:
def output():
    print("The Predicted load on day 7 is: ")
    print(sum(PL17))
    print(sum(PL27))
    print(sum(PL37))
    print(sum(PL47))
    print("The required Power will be:",required_power)
output()

The Predicted load on day 7 is:
46.1841428571
34.7794285714
42.6531714286
29.2651851852
The required Power will be: 152.881928042

In [8]:
generated_power=input("Enter the Generated Power")
deficit=required_power-float(generated_power)
print("The Deficit is:" , deficit)

Enter the Generated Power50
The Deficit is: 102.881928042

In [9]:
def solve():
    if(deficit>0):
        if(sum(PL47)>deficit):
            print("Cut the P4 Load")
        elif ((sum(PL47)+sum(PL37))>deficit):
            print("Cut the P3 Load and P4 LOAD")
        elif ((sum(PL47)+sum(PL37)+sum(PL27))>deficit):
            print("Cut the P2,P3 and P4 Load")
        else:
            print("Cant stop Outage")
    else:
        print("No Outage! Enjoy the Power:)")
solve()

Cut the P2,P3 and P4 Load